html,
body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.menu-section {
  min-width: 200px;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid black;
  background-color: #ffffff;
}
.menu-items {
  list-style: none;
  padding: 0;
}

.post {
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: #ffffff;
}

.blog-title {
  font-weight: bold;
  font-size: 20px;
}

.post-title {
  padding: 15px 30px;
  font-weight: bold;
  font-size: 28px;
}
.post-content {
  padding: 15px 30px;
}
